@charset "utf-8";
/* CSS Document */

body {background-color:#DFCDA9;}
#wrapper {width:900px; height: 1200px; margin:-10px auto;padding:10px;background-color:white;}

#superwrapper {width:1000px; margin:0px auto;background-color:white;}

#logo {float:left;margin-bottom:20px;padding-top:20px;padding-left:10px;}

#icon {float:right;margin-bottom:20px;padding-top:20px;padding-right:10px;}

#navigation {clear:both; word-spacing:20px; border-top: solid black 2px; border-bottom: solid black 2px; margin-bottom: 20px;padding-top: 5px;padding-bottom:5px; padding-left:10px; font-size:18px;font-family: Arial;}

#navigation a:link {color:black;}
#navigation a:visited {color:black;}
#navigation a:hover {color:#f90}
#navigation a {text-decoration-line:none;}

#kotak1 {float:left; width:679px;}
#kotak1 h1 {color:#f90; padding-bottom:10px;border-bottom:solid black 2px;font-size:40px;}
#kotak1 p {font-family:arial; font-size:20px;margin:30px;line-height:20px;}
#kotak1 img {border:solid #CACACA 1px;margin:5px; padding:10px}

#kanan {float:right; padding-top:10px;width:170px;font-family:Arial;}
#kanan h1 {font-size:30px; font-family:sheriff;}
#kanan h3 {margin-bottom:-15px; font-size:15px; color:#f90;}
#kanan h2 {font-size:18px;}

#oren h1 {color:#f90; padding-bottom:10px;border-bottom:solid black 2px;font-size:40px;}
#oren p {font-family:arial; font-size:20px;margin:20px;line-height:20px;}

#kotakgray1 {border-top: solid red 10px;border-bottom: solid lightgray 10px; float:left; width:250px; margin:25px; background-color:lightgray;}
#kotakgray2 {border-top: solid blue 10px; float:left; width:250px; margin:25px;background-color:lightgray;}
#kotakgray3 {border-top: solid green 10px; float:left; width:250px; margin:25px;background-color:lightgray;}

#info a:link {color:black;}
#info a:visited {color:black;}
#info a:hover {color:#f90}

#footer {text-align: center;}
#hr {margin-top:40px; border-top:3px; color:black; width:100%;}



